%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
    %meta{ property: "og:url", content: "https://www.shakeit.so" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Shake It So!" }
    %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom, for fun and for good!" }
    %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-logo-meta.png" }
  %body
    %div.container
      = haml :header

      %div.grid

        %div.flex_column
          %div.box
            %a{href: "https://forms.gle/awegVU55wxXGeDqN9"}
              Sign up
            =" "
            to join our morning parties Tuesday through Friday at 8-8:40AM Eastern Time.
          = haml :party_3
          = haml :party_2
          = haml :party_1

        %div.flex_column.side
          = haml :player, locals: locals
