%html
  %head
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
  %body

    %div.container
      %div.image-container
        %img{ src: "/march-party.jpg" }
      - if song
        %div.now-playing-container
          %div.now-playing
            %div
              %img#image{ src: image }
            %div.song-info
              %div
                %h1#song= song
                %h2#artist= "Artist: #{artist}"
              %div#note


          %div#progress_container
            %div#time_remaining= time_remaining
            %div#progress_bar{ :style => "width: #{progress_width}" }
              = " "
