%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
  %body
    %div.container
      %div.header
        %div.header-figure
          %img{ src: "/images/shake-it-so-logo.svg", height: 84 }
        %div.header-body
          Shake It So!

      %div.grid

        %div.flex_column
          = haml :party_2
          = haml :party_3
          = haml :intro

        %div.flex_column.side
          = haml :player, locals: locals
          = haml :video2
          = haml :video1
          %div.box
            <iframe src="https://open.spotify.com/embed/playlist/4a80NU4ysAEjPLyeQfWuQH" width="420" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          %div.box
            <iframe src="https://open.spotify.com/embed/playlist/7IA91lSLLVgf5Yf0oIOBZm" width="420" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          %div.box
            <iframe src="https://open.spotify.com/embed/playlist/2H0jnKkKRyOSBG5Gq06I5E" width="420" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          %div.box
            <iframe src="https://open.spotify.com/embed/playlist/3GghFcSNSUMceUE81yj7pI" width="420" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
