%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}
    %meta{ property: "og:url", content: "https://www.shakeit.so" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Shake It So!" }
    %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom, for fun and for good!" }
    %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-logo-meta.png" }
  %body
    %div.grid

      %div.page-margin
      %div.container
        .mg-vt-sm-1.pd-hz-sm-1
          %a{ href: "/" }
            %img#dancers-header{ src: "/images/dancer-header.svg"  }

          %h1.mg-tp-sm-2.mg-bt-sm-1 What are our International Dance Celebrations?

          %p
            They are a chance to listen to some fantastic music, move as much or as little as you like, and raise some
            awareness and money for some great organizations.

          %ul.mg-vt-sm-1
            %li
              Usually the first Saturday of the month at 8 PM Eastern time.
            %li
              Support non profit organizations that advance human rights, racial justice, and other social issues.

          %p
            To join one of our International Dance Celebrations, go to the
            %a{ href: "/" } home page
            at the appropriate time, and click on the link to join the party!

          %h2.mg-tp-sm-3.mg-bt-sm-1  What are the sessions like?
          %p
            Everyone is muted so we can hear the music, but people should feel comfortable participating in whatever way
            they like. Cameras can be on or off, and dancing is encouraged but not required. And dancing can mean just
            about anything, from tapping a toe to jumping all around. Many people have a great time listening to the
            music and participating in the quite lively chat.

          %h2.mg-tp-sm-3.mg-bt-sm-1 How do you support organizations?
          %p
            We ask for a donation of any amount to one of the organizations we are supporting. We don’t handle the
            money, donations go directly to the organizations. Or we set up fundraisers through GoFundMe, which supports
            many nonprofits and lets us keep track of our progress.

          %p.mg-tp-sm-1
            Ideally, we like to work with organizations with staff who are interested in joining the parties! These
            people work hard, often with few opportunities unwind, cut loose, and celebrate. Providing such an
            opportunity is also, in addition to fundraising, an important part of how we can support organizations that
            are doing such important work.

          %blockquote.mg-vt-sm-4
            It was awesome and tremendous fun. A job well done and we should make a regular thing of it.
            .quote-attribution
              —FibroFlutters Patient Advocacy Organisation | Chronic Illness & Rare Disease Network


          %h2.mg-tp-sm-3 Past Events
          = haml :party_5
          = haml :party_4
          = haml :party_3
          = haml :party_2
          = haml :party_1

      %div.page-margin
